# =========================
# Web API
# =========================
fastapi[standard]
uvicorn

# =========================
# Configuration / Environment
# =========================
python-dotenv

# =========================
# File Upload / Parsing
# =========================
python-multipart
pypdf
python-docx

# =========================
# Data / Scientific Computing
# =========================
numpy
pandas
scipy

# =========================
# Machine Learning
# =========================
scikit-learn
xgboost
lightgbm
joblib

# =========================
# NLP / spaCy
# =========================
spacy

# =========================
# Embeddings / Transformers
# =========================
sentence-transformers
transformers
torch

# =========================
# OpenAI / LLM
# =========================
openai

# =========================
# Database
# =========================
pymongo


#==========================
PyMuPDF
python-docx
